In [10]:
import os
import re
from collections import defaultdict 
import pandas as pd

path = None
papers = []

for root, dirs, files in os.walk("./data"):
    paths = [os.path.join("./data", flname) for flname in files]

for path in paths:
    with open(path, "r", encoding="utf-8") as fh:
        papers.extend(json.load(fh))

print(len(papers))

abstract = [paper["abstract"] for paper in papers]
lengs = list(set([len(abs1) for abs1 in abstract]))
sorted(lengs)
print(lengs[0], lengs[-1])

4317
92 2164

In [11]:
abstract_tok = [re.sub(r'\w+'," ", abs1.lower()) for abs1 in abstract]

In [12]:
abstract_tok = [re.sub('\W+',' ', string.lower()) for string in abstract]

In [13]:
tok_list = " ".join(abstract_tok).split()

In [14]:
cnt = defaultdict(int)
for abs1 in tok_list:
    cnt[abs1]+=1

In [17]:
df = pd.DataFrame(cnt.items(), columns=["word", "frequency"])

In [19]:
df.head()

           word  frequency
0      abstract       4325
1           the      67037
2         local        413
3  interstellar        391
4       spectra        464

In [46]:
maxFreq = df["frequency"].max() # the = 67037
df["freqPercent"] = (df["frequency"]/maxFreq).round(5)
df.head()

           word  frequency  freqPercent
0      abstract       4325      0.06452
1           the      67037      1.00000
2         local        413      0.00616
3  interstellar        391      0.00583
4       spectra        464      0.00692

In [49]:
df.to_json("word_counts.json", orient="records")